/* Couleurs */
:root {
  --bg-color: #111;
  --text-color: #fff;
  --accent-color: #990eab;
}

/* Styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  padding: 1rem;
  background-color: var(--accent-color);
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
}

h1 {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

aside {
  width: 200px;
  background-color: #222;
  padding: 1rem;
  border-radius: 5px;
}

h2 {
  color: var(--accent-color);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}


section#chat {
  flex-grow: 1;
  margin-left: 2rem;
}

section#users {
  /* width: 20%; */
  padding: 0 0 0 2rem;
}

h2#channel-name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--accent-color);
}

div#messages {
  height: 400px;
  overflow-y: scroll;
  padding: 1rem;
  background-color: #222;
  border-radius: 5px;
}

div.message {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
}

form#message-form {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

label#user-label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

input#message-input {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #333;
  color: var(--text-color);
  margin-right: 2rem;
}
form#login-form{
  display: flex;
  justify-content: space-between;
}

/* input#username-input{
 
} */

button[type="submit"] {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}


