doctype html
html
    head
        title Dischat
        link(rel='stylesheet', href='/styles/styles.css')
    body
        header 
            h1 login 
        main
            form#login-form(action='/logged', method='POST')
                input#username-input(type='text', name="username", autocomplete="off", placeholder='username')
                button(type='submit') login